*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}
body{
    background-image: url(new\ coffe.jpg);
    background-position: center;
    background-size: cover;
    min-height: 80vh;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 10% ;
}
ul li{
    display: inline-block;
    margin:0px 25px;
}
a{
    font-size: 25px;
}
h2{
    font-size: 35px;
}
.main{
    margin-top: 250px;
    margin-left: 100px;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.bt{
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 5px;
}
.btn{
    background-color: white;
    color:black;
    padding: 15px;
    border-radius: 5px;
}
 a:hover{
    transform: scaleX(1.05);
}